body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.c1 {
    background-image: url(images/contact_banner.png);
    position: relative;
    width: 100vw;
    height: 390px;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 0;
    margin: 3rem 0;
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center; 
}
.c1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, rgb(1, 21, 13) 20%, rgba(1, 21, 13, 0) 100%);
}
.text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 4;
}
.text11{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 204, 0);
    font-family: lucida handwriting;
}
.text11 img{
        height: 2.3rem;
        width: 2.3rem;
}

.text1 .text2 h1{
    margin: 0%;
    padding: 0%;
    font-size: 4rem;
    font-family: nunito;
    font-weight: 800;
    color: white;
}
.sec-cause1{
    padding: 4rem 0 5rem 0;
}
.cause1 h1{
    font-family: nunito;
    font-size: 2.5rem;
    font-weight: 800;
    color: #122f2a;
    text-align: center;
}

.progress-container {
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: nunito;
}

.progress {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
}

.progress svg {
    transform: rotate(-90deg); /* Rotates the progress circle to start from the top */
}

.progress circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.progress .background {
    stroke: #E0E0E0; /* Grey background */
}

.progress-circle {
    stroke: #0E6655; /* Green progress stroke */
    stroke-dasharray: 283; /* Circumference of the circle */
    stroke-dashoffset: 283; /* Starts empty */
    transition: stroke-dashoffset 1.5s ease-in-out;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.progress-container .label {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.cause-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.msg1{
    height: 200px;
    width: 250px;
    background-color: rgb(248, 244, 238);
    border-radius: 1rem;
}