
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.up-donate{
    /* background-image: url(''); */
    background: linear-gradient(-104deg, rgba(4, 11, 10, 0) 1.9%, rgba(3, 20, 17, 0.48) 37.31%, rgba(9, 31, 27, 0.17) 40.18%, rgba(5, 49, 41, 0.37) 47.05%, rgba(9, 31, 27, 0.67) 56.36%, #091f1b 73.4%, #0a4b40 95.2%, rgba(9, 31, 27, 0.91) 103.44%);
    height: 300px;
    margin-bottom: 300px;
}

.banner{
    position: absolute;
    z-index: 1;
}
.ink{
    position: absolute;
    z-index: 2;
    -webkit-animation: 4s ease-in-out infinite;
     animation: 4s ease-in-out infinite;
    -webkit-transform:translateY(0);
    transform: translateY(0);
    opacity: 0.8;
    height: 400px;
    background: linear-gradient(-104deg, rgba(12, 26, 23, 0) 1.9%, rgba(9, 31, 27, 0.08) 37.31%, rgba(9, 31, 27, 0.17) 40.18%, rgba(9, 31, 27, 0.37) 47.05%, rgba(9, 31, 27, 0.67) 56.36%, #091f1b 73.4%, #091f1b 95.2%, rgba(9, 31, 27, 0.91) 103.44%);

}

.banner-crack{
    position: relative;
    z-index: 4;
    top: 355px;
    height: 60px;
}

.banner_text{
    position: absolute;
    z-index:3;
    padding: 30px 80px;
    margin-left: 20%;
}

.banner_text a{
    background-color: #FFC107;
    padding:20px 50px 20px 30px;
    border-radius: 50px;
}

.banner_text img{
    width: 18px;
    transform: rotate(-45deg);
    margin-left: 5px;

}
.top_img img{
    width: 80px;
    transform: rotate(10deg);
}





       /* FREQUENTLY ASKED QUESTIONS */

.faq-outer{
    display: flex;
}


/*left*/
.faq-left{
    padding: 100px 0px;
    font: 16px "Nunito", sans-serif;
    /* background-color:#a4c2bc ; */
    padding-left: 30px;
    width: 50%;
    position: relative;
    z-index: 2;
  
}

.faq-content{
    font: 16px "Nunito", sans-serif;
}

.section-content{
    padding-left: 30px;
}
.section-content .sub-title{
    color: #FFC107;
    font: 20px lucida handwriting;
    width: 100rem;
}





/* FAQ Section */
.faq-section {
    margin: 4rem 0 0 0;
    width: 700px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.faq-item {
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: max-height 0.9s ease-in-out, padding 0.3s ease-in-out;
    overflow: hidden;
}

.faq-item summary {
    padding: 1.3rem 2rem;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Nunito', sans-serif ;
    letter-spacing: 0.2px;
    list-style: none;
    position: relative;
    background-color:#bfeace;
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    border-radius: 2rem;
}

.faq-item summary::after {
    content: '+';
    position: absolute;
    right: 2rem;
}

.faq-item[open] summary::after {
    content: '-';
}
.faq-item[open] summary{
    background-color: #00715D;
    color: white;
}

.faq-item p {
    padding: 1rem 2rem;
    color: #4a4c4d;
    letter-spacing: 0.5px;
}

/* middle */
.mid{
background-image: url("shape-4.png");
width: 30px;

}
.right{
    background-color: #00715D;
    width:50%;
    display: flex;
    position: relative;
    z-index: 1;
}

.back-img{
    background: white;
        margin: 3.5rem;
        padding: 0.5rem;
        border-radius: 18px;
        width: 60%;
        position: relative;
        z-index: 1;       
}

.front-img{
    position: absolute;
    z-index: 2;
    background:white;
    width: 43%;
    border-radius:18px ;
    padding: 0.5rem;
    margin: 9rem 24.3rem;
}




/* end message */
.end_messg{
    background-image: url('contact-bg.png');
    height: 40rem;
    margin-top: 13rem;
    position: absolute;
    z-index: 0;
    width: 100%;    
    background-size: 200%;
    background-position: center center; /* Center the zoomed image */
    background-repeat: no-repeat;
filter: brightness(70%);    

}

.two_ink{
position: absolute;
z-index: 3;
background: linear-gradient(-100deg, rgba(12, 26, 23, 0) 1.9%, rgba(9, 31, 27, 0.08) 37.31%, rgba(9, 31, 27, 0.17)40.18%, rgba(9, 31, 27, 0.37) 47.05%, rgba(9, 31, 27, 0.67) 56.36%, #091f1b 73.4%, #091f1b 95.2%, rgba(9, 31, 27, 0.91) 103.44%);
margin-top: 13rem;
height: 40rem;
}

.green{
    background-color: #00715d;
    width: 40rem;
    height: 40rem;
    position: absolute;
    z-index: 2;;
    margin-left: 43rem;
    margin-top: 13rem;
}

.green_txt{
    margin: 0 0 0 4rem ;
}
.green-title{
    color: #FFC107;
    font: 20px lucida handwriting;
}



.input-details {
    padding: 1rem;
    background-color: #046150;
    border: 1px solid #508b7e;
    border-radius:8px;
    margin: 20px;

}
.input-details::placeholder{
    color: #69bdaa;
font-size: larger;
}

.input-details:focus{
    outline:none;
}




.container{
    position: relative;
}

.container i{
    position: absolute;
    right: 40px;
    top: 38%;
}

.container_two{
    position: relative;
}

.container_two i{
    position: absolute;
    right: 80px;
    top: 38%;
}

i img{
    width: 20px;
}

.details a{
    background-color: #FFC107;
    padding:20px 50px 20px 30px;
    border-radius: 50px;
    margin-top: 5px;
}



.buttonimg img{
    width: 18px;
    transform: rotate(-45deg);
    margin-left: 5px;
}

a button{
    background: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
a:hover{
    background-color: black;
}

a:hover button, a button:hover{
    color: white;
} 
a:hover img, a img:hover{
    filter: invert(100%); 
}




            /* sliding images */


.slider-container {
    width: 100%;
    margin-top: 53rem;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.slider {
    display: flex;
    animation: infinite-slide 10s linear infinite;
}

.slider img {
    flex-shrink: 0;
    width: 250px;
    height: 300px;
}

@keyframes infinite-slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Duplicated content to ensure seamless looping */
.slider-wrapper {
    display: flex;
}
